.container {
    padding: 80px;
    padding-top: 40px;
}

.buttons {
    display: flex;
    justify-content: center;
}

.link {
    display: block;
    width: 80px;
    height: 30px;
    text-align: center;
    padding: 5px;
    color: white;
    background-color: blue;
    border-radius: 10px;
}

.link+.link {
    margin-left: 20px;
}

.activeLink {
    color: white;
    background-color: blue;
    border-radius: 10px;
}

.activeLink+.activeLink {
    margin-left: 20px;
}