.list {
    padding: 160px;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    text-decoration: none;
    list-style-type: none;
}

.li {
    color: darkblue;
    margin: 15px;
    list-style: none;
}

.p {
    text-decoration: none;
    max-width: 300px;
}

.img{
    width: 300px;
}